<!DOCTYPE html>
<html>
  <head>
    <title>ERT Auth Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Welcome to ERT Auth Server</h1>
      <p class="text-center">
        Please <a href="/login">login</a> first.</p>
    </div>
  </body>
</html>


