<!DOCTYPE html>
<html>
  <head>
    <title>ERT Auth Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body>
    <div>
    <p class="alert-danger">
      Login failed: Invalid username or password <a href="/login">Try again</a>
    </p>
    </div>
  </body>
</html>


